

.yotpo-pictures-gallery {
  &.yotpo-size-7 {
    .y-image-container {
      width: 14%;
    }
  }
  &.yotpo-size-6 {
    .y-image-container {
      width: 16.3%;
    }
  }
  &.yotpo-size-5 {
    .y-image-container {
      width: 19.5%;
    }
  }
  &.yotpo-size-4 {
    .y-image-container {
      width: 24.5%;
    }
  }
  &.yotpo-size-3, &.yotpo-size-2, &.yotpo-size-1 {
    .y-image-container {
      width: 32.5%;
    }
  }

  .yotpo-pictures-gallery-title-wrapper {
    margin-bottom: 20px;
    .yotpo-pictures-title {
      color: $pictures-gallery-title-color;
      font-size: $pictures-gallery-title-font-size;
    }
  }
  .yotpo-pictures-gallery-wrapper {
    overflow: hidden;
    text-align: left;
    max-height: 500px;
  }
  .y-image-container {
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    max-height: 250px;
    max-width: 250px;
    .y-image {
      border-radius: 3px;
      border: 1px solid;
      width: 100%;
      max-width:245px;
      max-height:245px;
    }
    .y-spacer {
      padding-left: 5px;
    }
    .y-image-wrapper {
      position: relative;
      line-height: 0;
    }
    .y-image-overlay {
      position: absolute;
      z-index: 6;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $slider-hover-background-color;
      opacity: 0;
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
      .hover-icon {
        display: inline-block;
        vertical-align: middle;
        .yotpo-icon-star, .yotpo-icon-empty-star {
          font-size: 24px;
          color: $white;
        }
        .yotpo-icon-insta {
          font-size: 40px;
          color: $white;
        }
      }
      &:hover {
        opacity: $slider-hover-opacity;
      }
      &:hover .hover-icon {
        opacity: 1;
      }
    }
    .y-image-overlay:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
}

