.yotpo-pictures-gallery {
  .yotpo-image-loader {
    color: #e3e3e3;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 90px;
  }
  @-webkit-keyframes yotpo-image-loader {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @keyframes yotpo-image-loader {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }

  &.yotpo-size-7 {
    .yotpo-single-image-container {
      width: 14%;
    }
  }
  &.yotpo-size-6 {
    .yotpo-single-image-container {
      width: 16%;
    }
  }
  &.yotpo-size-5 {
    .yotpo-single-image-container {
      width: 19%;
    }
  }
  &.yotpo-size-4 {
    .yotpo-single-image-container {
      width: 24%;
    }
  }
  &.yotpo-size-3, &.yotpo-size-2, &.yotpo-size-1 {
    .yotpo-single-image-container {
      width: 32%;
    }

    .yotpo-pictures-gallery-title-wrapper {
      .yotpo-pictures-gallery-title {
        font-size: $pictures-gallery-title-mobile-font-size;
      }
    }
  }

  .y-image-overlay {
    background-color: $pictures-gallery-hover-background-color;
    border-radius: $pictures-gallery-rounded-corners;
    &:hover {
      opacity: $pictures-gallery-hover-opacity;
    }
  }

  .yotpo-pictures-gallery-title-wrapper {
    margin-bottom: 10px;
    text-align: $pictures-gallery-title-alignment;
    position: relative;
    .yotpo-pictures-gallery-title {
      color: $pictures-gallery-title-color;
      font-size: $pictures-gallery-title-font-size;
      line-height: 80px;
    }
    .yotpo-nav-dropdown{
      right: 56px;
      position: absolute;
      bottom: 5px;
    }
  }
  .sort-loader {
    left: 0;
    right: 0;
    margin-top: 120px;
    z-index: 9999;
    position: absolute;
    color: #888888;
  }
  .yotpo-pictures-gallery-wrapper {
    max-width: 2450px;
    overflow: hidden;
    text-align: left;
    margin: auto;
  }
  .y-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .yotpo-single-image-container {
    position: relative;
    margin-right: $pictures-gallery-margin;
    margin-top: $pictures-gallery-margin;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    max-height: 350px;
    max-width: 350px;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    .yotpo-image {
      border-radius: $pictures-gallery-rounded-corners;
      border: $pictures-gallery-border;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width:345px;
      max-height:345px;
    }
    .y-spacer {
      padding-left: $pictures-gallery-spacing;
      padding-bottom: $pictures-gallery-spacing;
    }
  }
  .yotpo-gallery-products-container {
    border-bottom: 1px solid $gray-light;
    margin: -10px -32px 20px -22px;
    padding-left: 22px;
    padding-bottom: 20px;

    .yotpo-gallery-product-main-image{
      border-radius: 3px;
      border: 1px solid $gray-light;
      height: 100px;
      width: 100px;
    }
    .yotpo-gallery-product-name{
      position: absolute;
      margin-top: 15px;
      margin-left: 15px;
      color: $gray-darker;
    }
    .yotpo-gallery-product-button{
      position: absolute;
      margin-top: 50px;
      margin-left: 15px;
      color: $white;
      background-color: $gray-darker;
      border-radius: 3px;
      padding: 7px 50px;
      border: none;
      font-weight: bold;
    }
    .yotpo-gallery-products-footer{
      margin-top: 10px;
    }
    .yotpo-gallery-products-select{
      text-align: left;
      margin-top: 10px;
    }
    .yotpo-gallery-product-select-image{
      display: inline-block;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid $gray-light;
      margin-right: 1px;
      height: 40px;
      width: 40px;
    }
    .yotpo-gallery-product-selected {
      border-color: $green;
    }

    @media only screen and (max-width: 480px) {
      .yotpo-gallery-product-button {
        padding: 7px 30px;
      }
    }
  }
}
