.yotpo-shoppable-gallery {

  .yotpo-display-wrapper{
    margin: auto;
  }

  .yotpo-image-loader {
    color: #e3e3e3;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 90px;
  }

  .seperator {
    border: #efefef 1px solid;
    margin: 0;
  }

  .yotpo-single-image-container {
    width: calc(100% / 3);
    width: calc(100% / 3);
  }

  .yotpo-shoppable-gallery-header-wrapper {
    position: relative;
    height: 58px;
    border-top: 1px solid rgba(225, 225, 225, 58);
    .shop-image{
      width: 38px;
      height: 38px;
      border-radius: 50%;
      vertical-align: middle;
      border: 1px solid #eaeaea;
    }

    .yotpo-shoppable-gallery-title {
      font-family: Arial;
      color:  #0a5184;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.14px;
      line-height: 44.619px;
      text-align: left;
      transform: scaleX(1.0083);/* width and height properties ommitted due to transform */
      margin-left: 5px;
    }

    .shop-details-wrapper {
      display: inline-block;
      margin-top: 7px;
    }

    .yotpo-shoppable-gallery-header-reviews-wrapper {
      right: 16px;
      position: absolute;
      margin-top: 12px;
      .yotpo-shoppable-gallery-header-reviews-stars{
        .yotpo-icon.yotpo-icon-star {
          color: #ffd200;
        }
      }

      .yotpo-shoppable-gallery-header-reviews {
        float: right;
        clear: right;
        text-align: center;
        width: 100%;
        margin-top: 1px;
      }
    }

    .yotpo-icon.yotpo-icon-left-arrow-thin {
      margin-left: 10px;
      cursor: pointer;
    }

  }

  .yotpo-shoppable-gallery-product-header-wrapper{
    height: 45px;
    background-color: #f6f7f7;
    .yotpo-shoppable-gallery-product-header-title{
      margin-left: 10px;
      font-family: Arial;
      color:  #888888;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.14px;
      line-height: 44.619px;
      text-align: left;
      transform: scaleX(1.0083);/* width and height properties ommitted due to transform */
    }
  }

  .y-image-overlay {
    background-color: white;
    border-radius: 1px;
    &:hover {
      opacity: 0.5;
    }
  }

  .yotpo-shoppable-gallery-title-wrapper {
    margin-bottom: 10px;
    text-align: 1px;
    position: relative;
    height: 30px;
    &.sorting-dropdown{
      min-height: 20px;
    }
    .yotpo-shoppable-gallery-title {
      color: black;
      font-size: 14px;
      line-height: 1px;
      position: relative;
      bottom: 30px;
      text-align: center;
      width: 100%;
    }
    .yotpo-nav-dropdown{
      right: 10px;
      position: absolute;
      bottom: 0px;
    }
  }
  .sort-loader {
    left: 0;
    right: 0;
    margin-top: 120px;
    z-index: 9999;
    position: absolute;
    color: #888888;
  }
  .yotpo-shoppable-gallery-wrapper {
    overflow: hidden;
    text-align: left;
    margin: auto;
    width: 100%;
  }

  .yotpo-shoppable-gallery-images-wrapper {
    margin: 0 auto;
    max-width: 768px;
  }

  .y-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .yotpo-single-image-container {
    border-image-width:0;
    position: relative;
    margin-right: 0;
    margin-top: 0;
    float: left;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    .yotpo-image {
      border-radius: 1px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width:345px;
      max-height:345px;
      padding: 1px 1px 1px 1px;
    }
    .y-spacer {
      padding-left: 0px;
      padding-bottom: 0px;
    }
  }
  .yotpo-gallery-products-container {
    border-bottom: 1px solid $gray-light;
    margin: -10px -32px 20px -22px;
    padding-left: 22px;
    padding-bottom: 20px;

    .yotpo-gallery-product-main-image{
      border-radius: 3px;
      border: 1px solid $gray-light;
      height: 100px;
      width: 100px;
      object-fit: cover;
    }
    .yotpo-gallery-product-name{
      position: absolute;
      display: initial;
      margin-top: 15px;
      margin-left: 15px;
      color: $gray-darker;
    }
    .yotpo-gallery-product-button{
      position: absolute;
      margin-top: 50px;
      margin-left: 15px;
      color: $white;
      background-color: white;
      border-radius: 3px;
      padding: 7px 50px;
      border: none;
      font-weight: bold;
    }
    .yotpo-gallery-products-footer{
      margin-top: 10px;
    }
    .yotpo-gallery-products-select{
      text-align: left;
      margin-top: 10px;
    }
    .yotpo-gallery-product-select-image{
      display: inline-block;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid $gray-light;
      margin-right: 1px;
      height: 40px;
      width: 40px;
    }
    .yotpo-gallery-product-selected {
      border-color: $green;
    }

    @media only screen and (max-width: 480px) {
      .yotpo-gallery-product-button {
        padding: 7px 30px;
      }
    }
  }
}
