.yotpo-shoppable-gallery {

  @-webkit-keyframes yotpo-image-loader {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @keyframes yotpo-image-loader {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }

  .yotpo-display-wrapper{
    margin: auto;
  }

  .yotpo-image-loader {
    color: #e3e3e3;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 90px;
  }

  .seperator {
    border: #efefef 1px solid;
    margin: 0;
  }

  .yotpo-single-image-container {
    width: calc(100% / 3.0001 );
  }

  .yotpo-shoppable-gallery-header-wrapper {
    position: relative;
    height: 58px;
    background: white;
    &.yotpo-fixed-header{
      position: fixed;
      top: 0px;
      z-index: 1000;
    }
    .yotpo-shoppable-gallery-header-container{
      max-width: 1280px;
      height: 100%;
      margin: auto;
      border-left: #efefef 1px solid;
      border-right: #efefef 1px solid;
    }
    .shop-image{
      width: 38px;
      height: 38px;
      border-radius: 19px;
      vertical-align: middle;
      border: 1px solid #eaeaea;
      display: inline-block;
      float:left;
      margin: 3px 7px;
    }

    .yotpo-shoppable-gallery-title {
      font-family: Arial;
      color:  #0a5184;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.14px;
      line-height: 44.619px;
      text-align: left;
      transform: scaleX(1.0083);/* width and height properties ommitted due to transform */
      margin-left: 5px;
      display: inline-block;
      float:left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 580px;
    }

    .shop-details-wrapper {
      display: inline-block;
      margin-top: 7px;
    }

    .yotpo-shoppable-gallery-header-reviews-wrapper {
      margin-top: 12px;
      float: right;
      margin-right: 13px;
      .yotpo-shoppable-gallery-header-reviews-stars{
        .yotpo-icon-star, .yotpo-icon-half-star, .yotpo-icon-empty-star {
          color: $shoppable-star-rating-color;
        }
      }
      .yotpo-shoppable-gallery-header-reviews {
        float: right;
        clear: right;
        text-align: center;
        width: 100%;
        margin-top: 1px;
      }
    }

    .yotpo-icon.yotpo-icon-left-arrow-thin {
      margin-left: 13px;
      cursor: pointer;
      display: inline-block;
      float: left;
      margin-top: 13px;
    }
    .yotpo-icon.yotpo-icon-grid {
      float: left;
      margin-top: 13px;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .yotpo-shoppable-gallery-product-header-wrapper{
    height: 45px;
    .yotpo-shoppable-gallery-product-header-container{
      max-width: 1280px;
      margin: auto;
      border-left: #efefef 1px solid;
      border-right: #efefef 1px solid;
    }
    .yotpo-shoppable-gallery-product-header-title{
      margin-left: 10px;
      font-family: Arial;
      color:  #888888;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.14px;
      line-height: 44.619px;
      text-align: left;
      transform: scaleX(1.0083);/* width and height properties ommitted due to transform */
    }
  }

  .y-image-overlay {
    background-color: white;
    border-radius: 1px;
    @media (min-width: 768px) {
      &:hover {
        opacity: 0.5;
      }
    }
  }

  .yotpo-shoppable-gallery-title-wrapper {
    margin-bottom: 10px;
    text-align: 1px;
    position: relative;
    height: 30px;
    &.sorting-dropdown{
      min-height: 20px;
    }
    .yotpo-shoppable-gallery-title {
      color: black;
      font-size: 14px;
      line-height: 1px;
      position: relative;
      bottom: 30px;
      text-align: center;
      width: 100%;
    }
    .yotpo-nav-dropdown{
      right: 10px;
      position: absolute;
      bottom: 0px;
    }
  }
  .yotpo-shoppable-gallery-wrapper {
    overflow: hidden;
    text-align: left;
    margin: auto;
    width: 100%;
    background-color: #f6f7f7;
    &.yotpo-relative-wrapper {
      position: relative;
      top: 52px;
    }
  }

  .yotpo-shoppable-gallery-images-wrapper {
    margin: 0 auto;
    max-width: 768px;
  }

  .y-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1px;
    background: #e1e1e1;
  }
  .yotpo-single-image-container {
    border-image-width:0;
    position: relative;
    margin-right: 0;
    margin-top: 0;
    float: left;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    .yotpo-image {
      border-radius: 1px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width:345px;
      max-height:345px;
    }
    .y-spacer {
      padding-left: 0px;
      padding-bottom: 0px;
    }
  }
  .yotpo-gallery-products-container {
    border-bottom: 1px solid $gray-light;
    margin: -10px -32px 20px -22px;
    padding-left: 22px;
    padding-bottom: 20px;

    .yotpo-gallery-product-main-image{
      border-radius: 3px;
      border: 1px solid $gray-light;
      height: 100px;
      width: 100px;
      object-fit: cover;
    }
    .yotpo-gallery-product-name{
      position: absolute;
      display: initial;
      margin-top: 15px;
      margin-left: 15px;
      color: $gray-darker;
    }
    .yotpo-gallery-product-button{
      position: absolute;
      margin-top: 50px;
      margin-left: 15px;
      color: $white;
      background-color: white;
      border-radius: 3px;
      padding: 7px 50px;
      border: none;
      font-weight: bold;
    }
    .yotpo-gallery-products-footer{
      margin-top: 10px;
    }
    .yotpo-gallery-products-select{
      text-align: left;
      margin-top: 10px;
    }
    .yotpo-gallery-product-select-image{
      display: inline-block;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid $gray-light;
      margin-right: 1px;
      height: 40px;
      width: 40px;
    }
    .yotpo-gallery-product-selected {
      border-color: $green;
    }

    @media only screen and (max-width: 480px) {
      .yotpo-gallery-product-button {
        padding: 7px 30px;
      }
    }
  }

  .yotpo-shoppable-single-image-wrapper {
    background: #f6f7f7;
    &.yotpo-relative-wrapper {
      position: relative;
      top: 52px;
    }
    .yotpo-shoppable-single-view-container {
      max-width: 768px;
      margin: auto;
      .yotpo-shoppable-title {
        height: 70px;
        position: relative;
        padding: 2%;
        .yotpo-shoppable-product-image {
          width: $shoppable-product-image-width;
          height: 50px;
          border-radius: 25px;
          margin: auto;
          float: left;
        }
        .yotpo-shoppable-product-name {
          font-family: Arial;
          color: #56575f;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.12px;
          transform: scaleX(1.0083);
          margin: 16px $shoppable-product-name-margin;
          float: left;
          width: calc(100% - #{$shoppable-product-image-width} - #{$shoppable-cta-button-width} - #{$shoppable-product-name-margin}*2);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .yotpo-shoppable-product-button {
          font-family: Arial;
          color: $shoppable-cta-color;
          cursor: pointer;
          font-size: 11px;
          font-weight: 600;
          letter-spacing: 0.12px;
          text-align: center;
          margin: auto;
          border: 1px solid;
          border-radius: 5px;
          height: 40px;
          width: $shoppable-cta-button-width;
          background: white;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .yotpo-shoppable-image-container {
        position: relative;
        .yotpo-shoppable-image-placeholder {
          position: absolute;
          width:100%;
          height: 100%;
          background-image: url($insta_placeholder);
          background-position: center center;
          background-repeat: no-repeat;
          background-size:cover;
        }
        .yotpo-shoppable-image {
          position: absolute;
          width:100%;
          height: 100%;
          opacity:0;
          -webkit-transition: opacity 1s;
          transition: opacity 1s;
          &.yotpo-clickable{
            cursor: pointer;
          }
        }
      }
      .yotpo-shoppable-tagged-products-container {
        border-top: 1px solid;
        border-color:  #E0E0E0;
        .yotpo-shoppable-products-elements {
          overflow: hidden;
          margin: auto;
          width: 100%;
          display: inline-flex;
          .yotpo-shoppable-product {
            float: left;
            padding: 10px;
            text-align: center;
            background: white;
            border-radius: 5px;
            border: 1px solid #e1e1e1;
            .yotpo-shoppable-product-image {
              height: 128px;
              width: 128px;
              object-fit: contain;
            }
            .yotpo-shoppable-product-name {
              max-width: 128px;
              padding-top: 10px;
              padding-bottom: 5px;
              font-family: Arial;
              color: #56575f;
              font-size: 15px;
              font-weight: 600;
              letter-spacing: 0.12px;
              transform: scaleX(1.0083);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .yotpo-shoppable-product-reviews-count {
              font-size: 12px;
              margin-left: 3px;
            }
            .yotpo-shoppable-gallery-header-reviews-stars {
              padding-bottom: 10px;
              transform: scaleX(1.0083);
              .yotpo-icon-star, .yotpo-icon-half-star, .yotpo-icon-empty-star {
                color: $shoppable-star-rating-color;
                float: none;
              }
            }
            .yotpo-shoppable-product-button {
              font-family: Arial;
              color: $shoppable-cta-color;
              cursor: pointer;
              font-size: 11px;
              font-weight: 600;
              letter-spacing: 0.12px;
              text-align: center;
              margin: auto;
              border: 1px solid;
              border-radius: 5px;
              height: 35px;
              width: $shoppable-cta-button-width;
              background: white;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
      .yotpo-shoppable-stats {
        -webkit-transition: opacity 1s;
        transition: opacity 1s;
        opacity: 0;
        height: 60px;
        padding: 2.5%;
        .yotpo-shoppable-likes, .yotpo-shoppable-sales, .yotpo-shoppable-likes-count, .yotpo-shoppable-sales-count {
          font-family: Arial;
          color: #56575f;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.12px;
          transform: scaleX(1.0083);
        }
        .yotpo-shoppable-likes-count, .yotpo-shoppable-sales-count{
          padding-right: 10px;
        }
        .yotpo-shoppable-sales-count{
          color: #1cc286;
        }
        .yotpo-icon.yotpo-icon-heart{
          color: #56575f;
          padding-right: 10px;
        }
      }
      .yotpo-shoppable-tagged-products-title {
        font-family: Arial;
        color: #888888;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.13px;
        line-height: 44.619px;
        text-align: left;
        transform: scaleX(1.0083);
        padding-left: 2.5%;
      }
    }
  }
}

.yotpo-shoppable-gallery.yotpo-size-4{
  .yotpo-shoppable-single-image-wrapper {
    .yotpo-shoppable-single-view-container {
      .yotpo-shoppable-title {
        .yotpo-shoppable-product-button {
          margin-top: 3px;
        }
      }
      .yotpo-shoppable-stats {
        .yotpo-shoppable-likes, .yotpo-shoppable-sales, .yotpo-shoppable-likes-count, .yotpo-shoppable-sales-count {
          font-size: 15px;
          margin-top: 3px;
        }
        .yotpo-shoppable-likes-count, .yotpo-shoppable-sales-count {
          padding-right: 7px;
        }
        .yotpo-icon.yotpo-icon-heart {
          padding-right: 5px;
          margin-top: 3px;
        }
      }
    }
  }
  .yotpo-shoppable-gallery-header-wrapper {
    .yotpo-shoppable-gallery-title {
      max-width: 410px;
    }
  }
}
.yotpo-shoppable-gallery.yotpo-size-3{
  .yotpo-shoppable-single-image-wrapper {
    .yotpo-shoppable-single-view-container {
      .yotpo-shoppable-title {
        .yotpo-shoppable-product-name {
          margin-top: 15px;
        }
        .yotpo-shoppable-product-button {
          margin-top: 3px;
        }
      }
      .yotpo-shoppable-stats {
        .yotpo-shoppable-likes, .yotpo-shoppable-sales, .yotpo-shoppable-likes-count, .yotpo-shoppable-sales-count {
          margin-top: 5px;
          font-size: 15px;
        }
        .yotpo-shoppable-likes-count, .yotpo-shoppable-sales-count {
          padding-right: 5px;
        }
        .yotpo-icon.yotpo-icon-heart {
          padding-right: 5px;
          margin-top: 5px;
        }
      }
    }
  }
  .yotpo-shoppable-gallery-header-wrapper {
    .yotpo-shoppable-gallery-title {
      max-width: 295px;
    }
  }
}
.yotpo-shoppable-gallery.yotpo-size-2{
  .yotpo-shoppable-single-image-wrapper {
    .yotpo-shoppable-single-view-container {
      .yotpo-shoppable-title {
        padding: 4%;
        .yotpo-shoppable-product-image {
          width: $shoppable-product-image-width-mobile;
          height: 38px;
        }
        .yotpo-shoppable-product-name {
          margin-top: 10px;
          width: calc(100% - #{$shoppable-product-image-width-mobile} - #{$shoppable-cta-button-width} - #{$shoppable-product-name-margin}*2);
        }
      }
      .yotpo-shoppable-stats {
        height: 50px;
        .yotpo-shoppable-likes, .yotpo-shoppable-sales, .yotpo-shoppable-likes-count, .yotpo-shoppable-sales-count {
          margin-top: 7px;
          font-size: 14px;
        }
        .yotpo-shoppable-likes-count, .yotpo-shoppable-sales-count {
          padding-right: 5px;
        }
        .yotpo-icon.yotpo-icon-heart {
          padding-right: 5px;
          margin-top: 7px;
        }
      }
      .yotpo-shoppable-tagged-products-container{
        .yotpo-shoppable-products-elements{
          .yotpo-shoppable-product{
            .yotpo-shoppable-product-image{
              height: 120px;
              width: 120px;
            }
            .yotpo-shoppable-product-name {
              max-width: 120px;
            }
          }
        }
      }
    }
  }
  .yotpo-shoppable-gallery-header-wrapper {
    .yotpo-shoppable-gallery-title {
      max-width: 135px;
    }
  }
}
.yotpo-shoppable-gallery.yotpo-size-1 {
  .yotpo-shoppable-single-image-wrapper {
    .yotpo-shoppable-single-view-container {
      .yotpo-shoppable-title {
        padding: 4%;
        .yotpo-shoppable-product-image {
          width: $shoppable-product-image-width-mobile;
          height: 38px;
        }
        .yotpo-shoppable-product-name {
          margin-top: 10px;
          width: calc(100% - #{$shoppable-product-image-width-mobile} - #{$shoppable-cta-button-width} - #{$shoppable-product-name-margin}*2);
        }
      }
      .yotpo-shoppable-stats {
        height: 50px;
        .yotpo-shoppable-likes, .yotpo-shoppable-sales, .yotpo-shoppable-likes-count, .yotpo-shoppable-sales-count {
          margin-top: 10px;
          font-size: 14px;
        }
        .yotpo-shoppable-likes-count, .yotpo-shoppable-sales-count {
          padding-right: 5px;
        }
        .yotpo-icon.yotpo-icon-heart {
          padding-right: 5px;
          margin-top: 10px;
        }
      }
      .yotpo-shoppable-tagged-products-container {
        .yotpo-shoppable-products-elements {
          .yotpo-shoppable-product {
            .yotpo-shoppable-product-image {
              height: 100px;
              width: 100px;
            }
            .yotpo-shoppable-product-name {
              max-width: 120px;
            }
            .yotpo-shoppable-product-button {
              width: 100px;
            }
          }
        }
      }
    }
  }
  .yotpo-shoppable-gallery-header-wrapper {
    .yotpo-shoppable-gallery-title {
      max-width: 115px;
    }
  }
}
