.yotpo-slider {
  .yotpo-display-wrapper {
    overflow: hidden;
    position: relative;
    .y-slider-container {
      font-size: 0;
      line-height: 0;
      position: relative;
      &.y-slider-animations {
        -webkit-transition: left 0.45s ease-out 0s;
        -moz-transition: left 0.45s ease-out 0s;
        -ms-transition: left 0.45s ease-out 0s;
        -o-transition: left 0.45s ease-out 0s;
        transition: left 0.45s ease-out 0s;
      }
      .y-slider-image-container {
        padding: 0;
        box-sizing: border-box;
        display: inline-block;
        max-height: 185px;
        max-width: 185px;
        .y-slider-image {
          border-radius: 3px;
        }
        .y-slider-spacer {
          padding-left: 5px;
          line-height: 0;
        }
      }
    }
    .y-arrows div {
      color: $white;
      background: $black 12px 38px no-repeat;
      display: inline-block;
      padding: 0 20px;
      margin: 0;
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 9;
      text-indent: -9999px;
      opacity: 0.4;
      filter: alpha(opacity=40);
      -webkit-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
    }
    .y-arrows {
      .yotpo-icon-right-arrow-thin, .yotpo-icon-left-arrow-thin {
        cursor: pointer;
        font-size: 0;
        line-height: 1.2em;
        &::before {
          font-size: 35px;
          line-height: 1.2em;
          display: block;
          text-indent: 0;
          position: absolute;
          top: 50%;
          margin: -22px 3px 0;
        }
        &:hover {
          padding: 0 20px 0 40px;
          opacity: 0.7;
          filter: alpha(opacity=100);
          -webkit-transition: 0s;
          -moz-transition: 0s;
          -ms-transition: 0s;
          -o-transition: 0s;
          transition: 0s;
        }
      }
      .yotpo-icon-left-arrow-thin {
        left: 0;
        border-radius: 3px 0 0 3px;
        &::before {
          right: 0;
        }
      }
      .yotpo-icon-right-arrow-thin {
        right: 0;
        border-radius: 0 3px 3px 0;
        &::before {
          left: 0;
        }
      }
    }
  }
}
